body {
  background-image: url("../public/skyback.png");
  background-repeat: no-repeat;
  min-height: 900px;
  background-position: center;
  background-size: cover;
  position: static;
}

.container-fluid {
  max-width: 820px;
  height: 400px;
  max-height: 400px;
  margin: 6% 30%;
  background: linear-gradient(
    rgb(235, 253, 255),
    rgb(249, 238, 254),
    rgb(235, 253, 255)
  );
  box-shadow: 0px 1px 26px 10px rgba(127, 108, 127, 0.712);
  border-radius: 15px;
  color: rgb(48, 58, 97);
  padding: 0% 2% 0% 3%;
  display: block;
  font-family: "Quicksand";
}
