body {
  background-image: url("../public/skyback.png");
  background-repeat: no-repeat;
  min-height: 900px;
  background-position: center;
  background-size: cover;
  position: static;
}
.container-fluid {
  max-width: 730px;
  margin: 50px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: linear-gradient(
    rgb(235, 253, 255),
    rgb(249, 238, 254),
    rgb(235, 253, 255)
  );
  box-shadow: 0px 1px 26px 10px rgba(127, 108, 127, 0.712);
  border-radius: 15px;
  color: rgb(48, 58, 97);
  font-family: "Quicksand";
}
footer {
  position: relative;
  top: 55px;
  font-size: 15px;
  font-weight: 400;
  font-weight: 500;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media only screen and (max-width: 999px) {
  .container-fluid {
    max-width: 650px;
    padding-top: 20px;
    width: auto;
  }
}
@media only screen and (max-width: 620px) {
  .container-fluid {
    padding-top: 15px;
    width: auto;
  }
}
@media only screen and (max-width: 400px) {
  .App {
    display: flex;
    justify-content: center;
  }
}
