.current-cont {
  position: relative;
  top: -35px;
  height: 120px;
  width: 500px;
  color: #303a61;
}

.Main-city {
  font-weight: 700;
  font-size: 33px;
}
.current-time,
.current-description {
  font-weight: 500;
  font-size: 18px;
  color: #987da7;
}
.row-2 {
  position: relative;
  top: -15px;
  left: 130px;
}
.row-3 {
  position: relative;
  top: -15px;
}

.current-temperature {
  position: relative;
  left: 8px;
  font-weight: 700;
  font-size: 45px;
  color: #303a61;
}
.celsius-current {
  position: relative;
  top: -14px;
  font-size: 15px;
  font-weight: 400;
}
.celsius-current a {
  text-decoration: none;
}
.temp_max,
.humidity {
  position: relative;
  top: 10px;
}
.number-maximum-humidity {
  font-weight: 600;
  color: #303a61;
}
@media only screen and (max-width: 750px) {
  .current-cont {
    height: 120px;
    width: 350px;
    color: #303a61;
  }
  .row-1 {
    position: relative;
    top: -5px;
  }
  .Main-city {
    font-weight: 700;
    font-size: 26px;
  }
  .current-time,
  .current-description {
    font-weight: 500;
    font-size: 16px;
    color: #987da7;
  }
  .row-2 {
    position: relative;
    top: -30px;
    left: 95px;
  }
  .row-3 {
    position: relative;
    top: -40px;
  }
  .descr-hum-max {
    position: relative;
    left: 125px;
  }
  .current-temperature {
    font-size: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .current-cont {
    position: relative;
    top: -20px;
    height: 120px;
    width: 350px;
    color: #303a61;
    margin-bottom: 0px;
  }
  .Main-city {
    font-weight: 700;
    font-size: 26px;
  }
  .row-2 {
    position: relative;
    top: -40px;
    left: 95px;
  }
  .row-3 {
    position: relative;
    top: -30px;
  }
  .current-temperature {
    font-size: 23px;
  }
  .current-time,
  .current-description {
    font-weight: 500;
    font-size: 14px;
    color: #987da7;
  }
  .current-temperature {
    font-weight: 700;
    font-size: 35px;
    color: #303a61;
  }
  .celsius-current {
    font-size: 10px;
    font-weight: 400;
  }
  .temp_max,
  .humidity {
    font-size: 13px;
  }
  .descr-hum-max {
    position: relative;
    left: -1px;
  }
}
