.WeatherForecast-temperature-max {
  font-weight: bold;
}
.Weather-Forecast {
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.WeatherForecast-temperature {
  font-size: 15px;
}
@media only screen and (max-width: 995px) {
  .WeatherForecast-day {
    font-size: 15px;
  }
  .WeatherFOrecast-temperature {
    font-size: 13px;
  }
}
@media only screen and (max-width: 450px) {
  .Weather-Forecast {
    margin: 0px;
  }
  .WeatherForecast-day {
    font-size: 15px;
  }

  .WeatherForecast-temperature-max {
    font-weight: 600px;
  }
}
