.WeatherForecast-temperature-max {
  font-weight: bold;
}
.Weather-Forecast {
  text-align: center;
  margin: 0px 0px 35px 0px;
}

@media only screen and (max-width: 995px) {
  .WeatherForecast-day {
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  .Weather-Forecast {
    margin: 0px;
  }
  .WeatherForecast-day {
    font-size: 13px;
  }
  .WeatherForecast-temperature-max {
    font-weight: 600;
  }
}
